/*******************************************************************************
 *   Theme:         Author-it Magellan Theme Override Stylesheet
 *   Author:        Author-it Software Corp (http://www.author-it.com)
 *   Copyright:     Author-it Software Corp, All Rights Reserved
 *   Last Updated:  1-Apr-2020
 *   Version:       2020.R1
 *******************************************************************************/


html {
    /* base colors */
    --primary-color: #3688BF;
    --primary-light-color: #C7E2F2;
    --secondary-color: #FE8C00;
    --secondary-light-color: #FFBA6E;
    --dark-gray-color: #404040;
    --gray-color: #6C6C6C;
    --medium-gray-color: #AAAAAA;
    --light-gray-color: #CECECE;
    /* functional colors */
    --background-color: white;
    --landing-bg-color: white;
    --heading-bg-color: var(--light-gray-color);
    --panel-head-bg-color: var(--primary-color);
    --widget-head-bg-color: var(--light-gray-color);
    --footer-bg-color: var(--light-gray-color);
    --content-bg-color: white;
    --control-bg-color: white;
    --button-bg-color: var(--light-gray-color);
    --active-btn-bg-color: var(--primary-light-color);
    --submit-btn-bg-color: var(--primary-color);
    --form-bg-color: white;
    --widget-bg-color: white;
    --text-color: var(--dark-gray-color);
    --footer-text-color: var(--dark-gray-color);
    --heading-text-color: var(--dark-gray-color);
    --panel-head-text-color: white;
    --widget-head-text-color: var(--dark-gray-color);
    --button-text-color: var(--dark-gray-color);
    --active-btn-text-color: var(--dark-gray-color);
    --submit-btn-text-color: white;
    --shadow-color: var(--light-gray-color);
    /* functional elements */
    --border-radius-small: 2px;
    --border-radius-large: 4px;
    /* default icons - FontAwesome */
    --toc-open: '\f0d7';
    --toc-closed: '\f0da';
    --left-pane-open: '\f104';
    --left-pane-closed: '\f105';
    --right-pane-open: '\f105';
    --right-pane-closed: '\f104';
    --widget-open: '\f067';
    --widget-closed: '\f068';
    --breadcrumbs-separator: '\f105';
    --related-menu-closed: '\f104';
    --related-menu-open: '\f105';
    --glossary-link-icon: '\f05a';
    --popup-link-icon: '\f0e5';
    --external-link-icon: '\f08e';
    --expand-inline-open: '\f104';
    --expand-inline-closed: '\f105';
    --expand-block-open: '\f106';
    --expand-block-closed: '\f107';
}

/* add top border to nav bar */
nav.navbar.navbar-default > div.container {
    border-top:2px solid orange;

}

.right_block {
    margin:0;
}